@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
    html {
      font-size: 125%;
    }
  }
  
  @media (min-width: 1280px) {
    html {
      font-size: 147.5%;
    }
  }
  
  @media (min-width: 1536px) {
    html {
      font-size: 180%;
    }
  }
